.contact-title {
    text-align: center;
    font-size: 36px;
    color: #1B4965;
    margin-top: 40px;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 40px;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    color: #1B4965;
}

.contact-icon {
    width: 70px;
}

.contact-item a {
    color: #1B4965;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}
