.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    background: #1B4965;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
    z-index: 1000;
    border-radius: 20px;
    font-family: 'Times New Roman', serif;
}

.logo {
    height: 55px;
}

.nav-links {
    display: flex;
    gap: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #e6e6e6;
    transform: translateY(-2px);
}

.nav-icon {
    width: 28px;
    height: 28px;
}

.nav-links a span {
    margin-top: 5px;
    font-size: 16px;
}

.active {
    color: #ffffff;
    border-bottom: 3px solid white;
    padding-bottom: 4px;
}

@media screen and (max-width: 768px) {
    .nav-links {
        gap: 20px;
    }
    .nav-links a span {
        font-size: 14px;
    }
    .nav-icon {
        width: 22px;
        height: 22px;
    }
}

.section {
    padding-top: 100px; /* navbar height + some spacing */
}

