.about-box {
    font-size: 18px;
}
.cert-gallery {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}
.cert-img {
    width: 250px;
    border-radius: 14px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.cert-img:hover {
    transform: scale(1.05);
}