body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(#d8ecf6, #b6d9f2, #9bc6eb);
    min-height: 100vh;
    color: #1B4965;
    font-family: 'Times New Roman';
}

h1 {
    margin: 20px 0;
}

h2 {
    color: #1B4965;
    font-size: 28px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #1B4965;
}


.section {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 50px 40px;
}

.card {
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(12px);
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.cloud-bg {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    border-radius: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #BEE9E8;
    color: #1B4965;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #a7cece;
}


.section-title {
    text-align: left;
}

