body {
    font-family: "Poppins", "Segoe UI", sans-serif;
    background: linear-gradient(#d8ecf6, #b6d9f2, #9bc6eb);
    min-height: 100vh;
    color: #1B4965;
    margin: 0;
    line-height: 1.8;
    overflow-x: hidden;
}

.hero-bg {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.hero-bg h1 {
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(255,255,255,0.7);
}

.hero-subtitle {
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.6);
}

.highlight {
    color: #1B4965;
}

.hero-bg .btn {
    margin-top: 25px;
    display: inline-block;
    padding: 12px 28px;
    background: #BEE9E8;
    color: #1B4965;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.3s;
}

.hero-bg .btn:hover {
    background: #a7cece;
    box-shadow: 0 0 15px rgba(27,73,101,0.3);
}

.section {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 50px 40px;
}

.card {
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(12px);
    border-radius: 18px;
    border: 1px solid #1B4965;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #BEE9E8;
    color: #1B4965;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}

/* .btn:hover {
    background: #a7cece;
} */

.section-title {
    text-align: left;
    border-left: 4px solid #1B4965;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 700;
}

@media (max-width: 768px) {
    .hero-bg h1 {
        font-size: 2.5rem;
    }

    .hero-subtitle {
        font-size: 1.2rem;
    }

    .hero-bg .btn {
        padding: 10px 22px;
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    .project-video {
        border-radius: 8px;
    }
}
